@import 'https://fonts.googleapis.com/css?family=Montserrat';


body {
  padding-top: 50px;
  padding-bottom: 40px;
  font-family:  'Montserrat', sans-serif;

}

h1{
	margin-left:10px;
}

.login-container{
	padding: 20px;
	margin-left:100px;
	margin-right:100px;
}

.userlist-container{
	padding-left:20px;
}

.login-box{
	padding:20px;
}

.container{
	padding-top: 20px;
	margin-left:260px;
	margin-right:50px;
	max-width:1100px;
}

.vitals-container{
	padding-left: 20px;
	padding-right: 40px;
}

.results-container{
	padding: 20px;
}

.navbar-brand
{
     margin-left:10px !important;
	 font-size: 25px;
}

.navbar-right{
	margin-right:20px !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #E7E7E7;
    color: #000000;
}
 
.form-default {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-default .form-default-heading,
.form-default .checkbox {
  margin-bottom: 10px;
}
.form-default .checkbox {
  font-weight: normal;
}
.form-default .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-default .form-control:focus {
  z-index: 2;
}
.form-default input[type="value"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*Overview Panel Style*/
.panel-number{
	font-size: 40px;
}

.panel-default > .panel-green{
  background-image: none;
  background-color: #5cb85c;
  color: #ffffff;
}

.panel-default > .panel-green-footer a{
  color: #5cb85c;
}

.panel-default > .panel-green-footer a:hover{
  background-color:rgba(0, 0, 0, 0.1)
}

.panel-default > .panel-red{
  background-image: none;
  background-color: #d9534f;
  color: #ffffff;
}

.panel-default > .panel-red-footer a{
  background-image: none;
  color: #d9534f;
}
