/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
	top: 50px;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #eaebeb;
	border-right: 3px solid rgba(0, 0, 0, 0.1);
}


#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
	padding-top: 0px;
    padding-left: 5px;
	padding-right: 10px;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 5px;
    line-height: 50px;
	border-bottom: 2px solid rgba(192, 192, 192, 0.3);
}


.sidebar-nav li a {
    display: block;
    text-decoration: none;
	font-size: 17px;
    color: #000000;
	padding-left: 10px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    background: #e92f25;
	border-radius: 5px;
}

.sidebar-nav li a:focus,
.sidebar-nav li a:active {
    text-decoration: none;
	background-color: #fff;
    color: #000;
}

.sidebar-nav > .sidebar-brand {

}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-footer{
	top: 10px;
}

@media(min-width:768px) {
    #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

}