{% extends "admin.html" %}

{% block head %}
<script> function showDeleteForm(username) {
        document.getElementById("delete-message").innerHTML = `Confirm delete of user ${username.bold()}?`;
        $("#delete-form-username").val(username);
        console.log(document.getElementById("delete-form-username").value)
        $("#delete-User").modal();
} </script>
{% endblock %}

{% block nav %}
    <script> document.getElementById("nav_administrator").className += " active"; </script>
{% endblock %}

{% block header %}
<h1><i class="fa fa-cogs fa-fw"></i> Administrator</h1>
<hr>
{% endblock %}

{% block body %}
<!-- Information Panels -->
<div class = "row">

	<div class = "col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
						<div class="panel-number">
							{% for count in numUsers.res %}
							{{count.0}}
							{% endfor %}
						</div>
                        <div>Users</div>
                    </div>
                </div>
			</div>
			<div class="panel-footer">
				<a href="#" data-toggle="modal" data-target="#create-User">
                    <span class="pull-left">Add User</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </a>
            </div>
		</div>
	</div>
</div>

<!-- Create User Modal-->

<div id="create-User" class="modal fade" role="dialog">
  <div class="modal-dialog">
	<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Add User</h3>
      </div>
      <div class="modal-body">
		<form method="post" name="create_user">
			{{ create_form.hidden_tag() }}
        <p>
            {{create_form.username(size=80, autofocus=true, required=true, placeholder="Username", class="form-control") }}<br>
            {{create_form.password(size=80, required=true, placeholder="Password", class="form-control") }} <br>
            Account type: {{create_form.user_role(required=true) }}
		<div class="modal-footer">
			{{create_form.submit(value="create", class="btn btn-md btn-default")}}
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		</div>
        </p>
        </form>
      </div>
      
    </div>
  </div>
 
</div>

<!--Delete User-->
<div id="delete-User" class="modal fade" role="dialog">
  <div class="modal-dialog">
	<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Delete User</h3>
      </div>
      <div class="modal-body">
		<p id="delete-message"></p>
        <form method="post" name="delete_user">
        {{ delete_form.hidden_tag() }}
		<div class="modal-footer">
            {{delete_form.username()}}
			{{delete_form.submit(value="delete", class="btn btn-md btn-default")}}
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		</div>
        </p>
        </form>
      </div>
      
    </div>
  </div>
 
</div>

<!-- List of Users -->
<div class = "row">
	<div class = "userlist-container">
	<h2>All Users</h2>
        <table class="table">
            <tr>
                <th></th>
                <th></th>
                <th>No.</th>
                <th>Username</th>
                <th>Access Rights</th>
            </tr>
            {% for users in table %}
            <tr>
                <td><a href="administrator"><i class="fa fa-edit"></i></a></td>
                <td><a href="#" onclick="showDeleteForm('{{users.1}}')"><i class="fa fa-trash-o"></i></a></td>
                <td>{{users.0}}</td>
                <td>{{users.1}}</td>
				<td>{{users.2}}</td>
            </tr>
            {% endfor %}
        </table>
	</div>
</div>
{% endblock %}
