{% extends "base.html" %}

{% block basebody %}
    <div class="container">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li role="presentation" id="nav_home"><a href="/"><i class="fa fa-home fa-fw"></i> Overview</a></li>
				<li role="presentation" id="nav_patients"><a href="patients"><i class="fa fa-users fa-fw"></i> Patients</a></li>
				<li role="presentation" id="nav_devices"><a href="devices"><i class="fa fa-mobile fa-fw"></i> Devices</a></li>
				<li role="presentation" id="nav_view"><a href="view"><i class="fa fa-heartbeat fa-fw"></i> Vitals</a></li>						
				{% if current_user.access_level <= 1 %}
				<li role="presentation" id="nav_test"><a href="test"><i class="fa fa-plus-square fa-fw"></i> Test</a></li>
				<li role="presentation" id="nav_administrator"><a href="administrator"><i class="fa fa-cogs fa-fw"></i> Administrator</a></li>
				{% endif %}
				</ul>
		</div>
		{% block nav %}
		{% endblock %}
		
		{% with messages = get_flashed_messages(with_categories=true) %}
  			{% if messages %}
				<!-- Alert messages-->
				{% include "alerts.html" %}
			{% endif %}
		{% endwith %}

		<!-- Content -->
		<div class="row">
			
			{% block header %}
			{% endblock %}
		</div>
		
		<div class="row">
			{% block body %}
			{% endblock %}
		</div>
		
		<div class="row">
			<footer class="footer">
				<p>&copy; Company 2015</p>
			</footer>
		</div>
    </div>	
{% endblock %}