{% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Alert messages-->
    {% if messages %}
    <div class="row">
      {% for category, message in messages %}
      <div class="alert alert-{{ category|lower }} alert-dismissible col-md-11">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{message}}
      </div>
      {% endfor %}
	  </div>
    {% endif %}
{% endwith %}

    