<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>HearVitals - In-Ear Health Monitoring</title>

	<!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

	<!--JQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    
	<!-- Bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- Custom CSS -->
	<link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<link href="../static/sidebar.css" rel="stylesheet">
	<link href="../static/admin.css" rel="stylesheet">
	
	<!-- Custom Fonts -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"s>
    {% block head %}
    {% endblock %}
</head>
 
<body>

	<!-- Top NavBar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role = "navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Hear<font color="#FFF">Vitals</font></a>
			</div>
			<ul class="nav navbar-nav">
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if current_user.is_authenticated %}
				<li>
                    <a href="javascript;" data-toggle="dropdown" data-target="user"><i class="fa fa-user"></i> {{ current_user.user_id }} <i class="fa fa-fw fa-caret-down"></i></a>
					<ul id="user" class="dropdown-menu">
						<li><a href="/">Profile</a></li>
						<li><a href="/">Settings</a></li>
						<li class="divider"></li>
						<li><a href="/logout">Logout</a></li>
					</ul>
                </li>
				{% endif %}
				<li role="presentation" id="nav_help"><a href="/">Help</a></li>
			</ul>
				
		</div>
	</nav>
	
	{% block basebody %}
    {% endblock %}
 

</body>
 
</html>