{% extends "admin.html" %}

{% block head %}
    <script>
        function showForm(form_id){
            console.log('Triggered')
            forms = ["create_form", "assign_form", "unassign_form"]
            for (len=forms.length, i=0; i<len; ++i){
                if (forms[i] != form_id) {
                    $("#" + forms[i]).slideUp("normal", "linear");
                    console.log(forms[i], 'SlideUp')
                }
            }
            $("#" + form_id).toggle("normal", "linear");
            };
    </script>
 
{% endblock %}

{% block nav %}
    <script> document.getElementById("nav_devices").className += " active"; </script>
{% endblock %}

{% block header %}
<h1><i class="fa fa-mobile fa-fw"></i> Devices</h1>
<hr>
{% endblock %}

{% block body %}
    {% if current_user.access_level <= 2 %}
    <div>
        <button class="btn btn-sm btn-primary" onclick="showForm('create_form')" id="create_but">Add New Device</button>
        <button class="btn btn-sm btn-primary" onclick="showForm('assign_form')" id="assign_but">Assign Device</button>
        <button class="btn btn-sm btn-primary" onclick="showForm('unassign_form')" id="unassign_but">Unassign Device</button>
        <form  class="collapse well" id="create_form" action="/devices" method="post" name="create_device">
        <h2>Add new device</h2>
        {{ create_form.hidden_tag() }}
        <p>
            {{create_form.device_tag(size=80, autofocus=true, required=true, placeholder="Device tag", class="form-control") }}<br>
            {{create_form.description(size=80, placeholder="Device description", class="form-control") }} <br>
            {{create_form.submit(value="create", class="btn btn-md btn-primary")}}
        </p>
        </form>
        <form class="collapse well" id="assign_form" action="/devices" method="post" name="assign_device">
        <h2>Assign Device</h2>
        {{ assign_form.hidden_tag() }}
        <p>
            {{assign_form.device_tag(size=80, autofocus=true, required=true, placeholder="Device tag", class="form-control") }}<br>
            {{assign_form.patient_ic(size=80, required=true, placeholder="Patient IC", class="form-control") }} <br>
            {{assign_form.submit(value="assign", class="btn btn-md btn-primary")}}
        </p>
        </form>
        </form>
        <form class="collapse well" id="unassign_form" action="/devices" method="post" name="unassign_device">
        <h2>Unassign Device</h2>
        {{ unassign_form.hidden_tag() }}
        <p>
            {{unassign_form.device_tag(size=80, autofocus=true, required=true, placeholder="Device tag", class="form-control") }}<br>
            {{unassign_form.submit(value="unassign", class="btn btn-md btn-primary")}}
        </p>
        </form>
    </div>
    {% endif %}       
    
    <div>
        <h2>All devices</h2>
        <table class="table">
            <tr>
                <th></th>
                <th>Device Tag</th>
                <th>Patient</th>
                <th>Description</th>
                <th>Last Record</th>
            </tr>
            {% for device in table.res %}
            <tr>
                <td><a href="devices"><i class="fa fa-edit"></i></a></td>
                <td>{{device.0}}</td>
                <td>{{device.2}}</td>
                <td>{{device.1}}</td>
                <td>{{device.3}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
