{% extends "admin.html" %}

{% block nav %}
<script> document.getElementById("nav_home").className +=  " active"; </script>
{% endblock %}

{% block header %}
<h1><i class="fa fa-home fa-fw"></i> Overview</h1>
<hr>
{% endblock %}

{% block body %}
<!-- Information Panels -->
	<div class="col-md-4">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="panel-number">
							{% for count in numPatients.res %}
							{{count.0}}
							{% endfor %}
							</div>
                            <div>Patients</div>
                        </div>
                    </div>
				</div>
				<div class="panel-footer">
					<a href="patients">
                        <span class="pull-left">View Patients</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </a>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading panel-green">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-mobile fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="panel-number">
							{% for count in numDevices.res %}
							{{count.0}}
							{% endfor %}
							</div>
                            <div>Devices Available</div>
                        </div>
                    </div>
                </div>
				<div class="panel-footer panel-green-footer">
					<a href="devices">
                        <span class="pull-left">View Devices</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="panel">
			<div class="panel-heading">
				<span class="pull-left">Devices with Missed Updates</span>
			</div>
		</div>
	</div>

{% endblock %}