{% extends "base.html" %}

	{% block basebody %}

	{% include "alerts.html" %}
	
	<div class ="login-container">
		<div class = "jumbotron">
		<form  class="form-default" id="login_form" method="post" name="login_form">
			<h2>Welcome to HearVitals</h2>
			<h5>Please login to continue</h5>
			<div class="login-box">
			{{ login_form.hidden_tag() }}
			<p>
				{{login_form.user_id(size=80, autofocus=true, required=true, placeholder="User ID", class="form-control") }}
				{{login_form.password(size=80, required=true, placeholder="Password", class="form-control") }} <br>
				{{login_form.submit(class="btn btn-md btn-primary")}}
			</p>
			<h6>Forgot your password? Reset <a href="/">here.</a></h6>
			</div>
		</form>
		</div>
	</div>
	{% endblock %}

