{% extends "admin.html" %}

{% block head %}
    <script src=https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js></script>
    

{% endblock %}

{% block nav %}
    <script> document.getElementById("nav_patients").className += " active"; </script>
{% endblock %}

{% block header %}
    <h1><i class="fa fa-users fa-fw"></i> Patients</h1>
    <hr>
{% endblock %}


{% block body %}
	{% if current_user.access_level <= 2 %}
    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#create-Patient">Add New Patient</button>
	
	<div id="create-Patient" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title">Add New Patient</h3>
				</div>
				<div class="modal-body">
					<form action="/patients" method="post" name="create_patient">
					{{ form.hidden_tag() }}
					<p>
						{{form.patient_ic(size=80, autofocus=true, required=true, placeholder="Patient IC", class="form-control") }}<br>
						{{form.name(size=80, required=true, placeholder="Patient Name", class="form-control") }} <br>
						<div class="modal-footer">
							<input type="submit" value="Create" class="btn btn-md btn-primary"></input>
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						</div>
					</p>
					</form>
				</div>
      
			</div>
		</div>
	</div>
	{% endif %}
	
    
  <h2>All Patients</h2>
  <table class="table">
    <tr>
        <th></th>
        <th>Patient IC</th>
        <th>Name</th>
		<th>Health Status</th>
    </tr>
    {% for patient in table.res %}
    <tr>
        <td>
            <a href="view?query_choice=patient_IC&query_value={{patient.0}}"><i class="fa fa-eye"></i></a></td>
        </td>
        <td>{{patient.0}}</td>
        <td>{{patient.1}}</td>
		<td>Normal</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
