{% extends "admin.html" %}

{% block nav %}
<script> document.getElementById("nav_test").className +=  "active"; </script>
{% endblock %}

{% block header %}
<h1><i class="fa fa-plus-square fa-fw"></i> Test</h1>
<hr>
{% endblock %}

{% block body %}
      <div class="jumbotron">
        <h1>Input Patient's Vitals</h1>
        <form class="form-default" method="POST" action="/test">
        <label for="device_id" class="sr-only">Device</label>
        <input name="device_tag" id="device_tag" class="form-control" placeholder="Device" required autofocus>
        <label for="temperature" class="sr-only">Temperature</label>
        <input type="number" step="0.1" name="temperature" id="temperature" class="form-control" placeholder="Temperature/&deg;C" value={{defaults.temperature}} required>
		<input for="heart_rate" class="sr-only"></label>
		<input type="number" name="heart_rate" id="heart_rate" class="form-control" placeholder="Heart Rate/BPM" value={{defaults.heart_rate}} required>
		<input for="spo2" class="sr-only"></label>
		<input type="number" step="0.1" name="spo2" id="spo2" class="form-control" placeholder="Oxygen Saturation/%" value={{defaults.spo2}} required>
       
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
      </form>
      </div>
 
{% endblock %}