{% extends "view.html" %}

{% block data %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<!-- Library for exporting charts to pdf -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>
<script src="../static/js/canvg/rgbcolor.js"></script> 
<script src="../static/js/canvg/StackBlur.js"></script>
<script src="../static/js/canvg/canvg.min.js"></script> 

<script>function get_data(){ return {{ data | safe}}}</script>
<script>
    $(function() {
        $(document).ready( function () {
          $('#waveform').click( function() {
              window.open('view/ppg?' + window.location.search.substring(1));
              });
        });
    });
    </script>
  <script src="../static/js/stream.js"></script>
{% endblock %}

{% block refresh %}
<input class="btn btn-sm btn-primary" name="refresh" id="refresh" value="Pause" type="submit"></input>
<input class="btn btn-sm btn-primary" name="export_button" id="export_button" value="Export All" type="submit"></input>
<button id="waveform" class="btn btn-sm btn-primary" type="submit">Waveform</button>
{% endblock %}

{% block result %}
<div class="results-container">
    <div id="container" style="min-width: 310px; height: 250px; margin: 0 auto"></div>
    <div id="container2" style="min-width: 310px; height: 250px; margin: 0 auto"></div>
    <div id="container3" style="min-width: 310px; height: 250px; margin: 0 auto"></div>
</div>
{% endblock %}
