{% extends "admin.html" %}

{% block head %}
    {% block data %}
    {% endblock %}
{% endblock %}

{% block nav %}
<script> document.getElementById("nav_view").className += " active"; </script>
{% endblock %}

{% block header %}
<h1><i class="fa fa-heartbeat fa-fw"></i> Vitals</h1>
<hr>
{% endblock %}

{% block body %}
	<div class = "vitals-container">
      <div class="well">
        <h4>Sample Data</h4>
        <form class="form-default" method="GET" action="/view">
          <select name="query_choice" id="query_choice">
            <option value="patient_IC">Patient</option>
            <option value="device_tag">Device</option>
          </select>
          <input name="query_value" id="query_value" class="form-control" required autofocus>
          <button id="query" class="btn btn-sm btn-primary" type="submit">Query</button>
        </form>
         {% block refresh %}{% endblock %}
      </div>

		{% block result %}{% endblock %}
	</div>

{% endblock %}